---
- name: Make direcotry
  file:
    path: "/home/pi/.ssh"
    state: directory
- name: Check that the authorized keys exists
  stat:
    path: "/home/pi/.ssh/authorized_keys"
  register: stat_result
- name: Create empty file
  file:
    path: "/home/pi/.ssh/authorized_keys"
    state: touch
  when: stat_result.stat.exists == False
- name: Put pubkey into the file
  lineinfile:
    path: "/home/pi/.ssh/authorized_keys"
    line: "{{ pubkey }}"
    state: present